<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" href="/">
      <i class="bi bi-airplane"></i> Travel Planner
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <% if (user) { %>
          <li class="nav-item">
            <a class="nav-link" href="/trips">My Trips</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/companions">Companions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/trips/create">New Trip</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
              <i class="bi bi-person-circle"></i> <%= user.firstName %>
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/account">
                <i class="bi bi-person-gear"></i> Account Settings
              </a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/auth/logout">
                <i class="bi bi-box-arrow-right"></i> Logout
              </a></li>
            </ul>
          </li>
        <% } else { %>
          <li class="nav-item">
            <a class="nav-link" href="/auth/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/auth/register">Register</a>
          </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>