@tailwind base;
@tailwind components;
@tailwind utilities;

/* Remove default form styling for browser defaults */
input,
textarea,
select {
  @apply px-3 py-1.5 block w-full rounded-md border-0 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-600 sm:text-sm sm:leading-6;
}

/* Date and time input styling */
input[type="date"],
input[type="time"],
input[type="datetime-local"] {
  @apply h-10;
}

/* Calendar icon styling */
input[type="date"]::-webkit-calendar-picker-indicator {
  @apply cursor-pointer;
}
